<h1>Hi! You have successfully requested data submission to Harnesstom DB!</h1>

<p>
    By this message, Harnesstom Team have confirmed your data submission request.
    We will process your request and we promise to get back to you as soon as possible to let you know about your data within our database.
</p>

<p>
    Cheers!
</p>