<h1>Hi there! You have successfully sent an inquiry to Harnesstom DB!</h1>

<p>
    By this message, Harnesstom Team have confirmed your inquiry.
    We will process your request and we promise to get back to you as soon as possible.
</p>

<p>
    Cheers!
</p>