{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 order-md-1">
				{% if analyteClasses | length > 0 %}
					<h2 class="mb-3 text-center tomato-color font-weight-bold">Analyte Class List</h2>
					<div class="table-responsive">
						<table id="datatable" class="table table-hover text-nowrap" width="100%">
							<thead class="table-dark">
								<tr>
									<th scope="col">Name</th>
									<th scope="col">Action</th>
								</tr>
							</thead>
							<tbody>
								{% for analyteClass in analyteClasses %}
									<tr>
										<td>
											<a href="{{ path('analyte_class_details', {id: analyteClass.id}) }}">{{ analyteClass.name }}</a>
										</td>
										<td>
											<a href="{{ path('analyte_class_details', {id: analyteClass.id}) }}">
												<button class="btn btn-outline-primary">View</button>
											</a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				{% else %}
					<h5 class="mb-3 text-center tomato-color font-weight-bold">No analyte class has been provided in our system</h5>
				{% endif %}
			</div>
		</div>
		<!-- .row -->
	</div>
	<!-- .container -->
{% endblock %}
