{% extends 'base.html.twig' %}

{% block title %}
  Password Reset Email Sent
{% endblock %}

{% block body %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12 col-lg-11">
        {% for category, messages in app.flashes(
          ['success', 'warning', 'danger']
        ) %}
          {% for message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show"
              role="alert">
              {{ message }}
              <button type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endfor %}
        {% endfor %}
        <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3 flex-row align-items-center justify-content-between">
            <h4 class="m-0 font-weight-bold text-center tomato-color">
              Email Password Reset Link Sent
            </h4>
          </div>
          <!-- Card Body -->
          <div class="card-body">
            <p>
              If an account matching your email exists, then an email was just
              sent that contains a link that you can use to reset your password.
              This link will expire in
              {{
                resetToken.expirationMessageKey|trans(
                  resetToken.expirationMessageData,
                  'ResetPasswordBundle'
                )
              }}.
            </p>
            <p>
              If you don't receive an email please check your spam folder or
              <a href="{{ path('app_forgot_password_request') }}">try again</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- .row -->
  </div>
  <!-- .container -->
{% endblock %}
