{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}


{% block body %}
    <main class="main-content">
        <div class="fullwidth-block">
		</div> <!-- .fullwidth-block -->

        <div class="fullwidth-block">
            <div class="container">
                <div class="row">
                        <div class="card-body">
                            <h1>Reset your password</h1>

                            {{ form_start(resetForm) }}
                                {{ form_row(resetForm.plainPassword) }}
                                <button class="btn btn-primary">Reset password</button>
                            {{ form_end(resetForm) }}
                        </div>
                    </div>
                    </div>
                </div> <!-- .row -->
            </div> <!-- .container -->
        </div> <!-- .fullwidth-block -->
    </main> <!-- .main-content -->
{% endblock %}