{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <main class="main-content">
        <div class="fullwidth-block">
		</div> <!-- .fullwidth-block -->
        <div class="fullwidth-block">
            <div class="container">
                <div class="row">
                        <div class="card-body">
                            {% if sequencingInstruments | length > 0 %}
                                <h1 class="tomato-color">Sequencing Instrument List</h1>
                                <table class="table table-striped">
                                <thead>
                                    <tr>
                                    <th scope="col">Label</th>
                                    <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for sequencingInstrument in sequencingInstruments %}
                                    <tr>
                                        <td><a href="{{ path('sequencing_instrument_details', {id: sequencingInstrument.id}) }}">{{ sequencingInstrument.Label }}</a></td>
                                        <td>
                                            <a href="{{ path('sequencing_instrument_details', {id: sequencingInstrument.id}) }}"><button class="btn btn-outline-primary">View</button></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %} 
                                <p class="tomato-color">No sequencing instrument has been provided in our system</p>
                            {% endif %}
                        </tbody>
                        </table>
                     
                        </div>
                    </div>
                    </div>
                </div> <!-- .row -->
            </div> <!-- .container -->
        </div> <!-- .fullwidth-block -->
    </main> <!-- .main-content -->
{% endblock %}
