<div class="col-md-6 mb-3">
	<button class="btn btn-outline-secondary btn-lg btn-block" type="reset">Cancel</button>
</div>

<div class="col-md-6 mb-3">
	<button class="btn btn-outline-primary btn-lg btn-block" type="submit">Update</button>
</div>