.hero {
    *zoom: 1;
    position: relative;
}

.hero:after {
    content: " ";
    clear: both;
    display: block;
    overflow: hidden;
    height: 0;
}

.hero .slides {
    list-style: none;
    *zoom: 1;
}

.hero .slides:after {
    content: " ";
    clear: both;
    display: block;
    overflow: hidden;
    height: 0;
}

.hero .slides li {
    width: 100%;
    margin-right: -100%;
    float: left;
    min-height: 720px;
    padding-bottom: 100px;
    background-size: cover;
}

.hero .slide-content {
    text-align: center;
    padding-top: 300px;
    color: white;
    width: 80%;
    margin: 0 auto;
}

.hero .slide-content .slide-title {
    font-size: 60px;
    font-size: 4em;
    font-weight: 300;
}

.hero .slide-content p {
    font-size: 24px;
    font-size: 1.6em;
}

.hero .slide-content .button,
.hero .slide-content form input[type="submit"],
form .hero .slide-content input[type="submit"],
.hero .slide-content form button,
form .hero .slide-content button,
.hero .slide-content form input[type="reset"],
form .hero .slide-content input[type="reset"] {
    font-size: 20px;
    font-size: 1.3333333333em;
}

.hero .flex-control-nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 8;
    text-align: center;
}

.hero .flex-control-nav li {
    display: inline-block;
    margin: 30px 5px;
}

.hero .flex-control-nav li a {
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 50%;
    display: block;
    overflow: hidden;
    text-indent: -9999px;
    position: relative;
    cursor: pointer;
}

.hero .flex-control-nav li a:before {
    content: " ";
    width: 17px;
    height: 17px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #D01C44;
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.hero .flex-control-nav li a.flex-active:before,
.hero .flex-control-nav li a:hover:before {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.branding {
    float: left;
    padding: 15px;
}

.branding .logo,
.branding .logo-type {
    display: inline-block;
    vertical-align: middle;
}

.branding .logo {
    margin-right: 10px;
}

.branding .logo-type .site-title {
    margin: 0 0 5px;
    font-size: 16px;
    font-size: 1.0666666667em;
    color: #D01C44;
    text-transform: uppercase;
}

.branding .logo-type .site-description {
    font-size: 12px;
    font-size: 0.8em;
}