{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page not found</h1>

    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <p>
            The requested page couldn't be located. <b>Checkout for any URL
            misspelling or <a href="{{ path('app_home') }}">return to the homepage</a></b>.
        </p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endblock %}