{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <main class="main-content">
        <div class="fullwidth-block">
		</div> <!-- .fullwidth-block -->

        <div class="fullwidth-block">
            <div class="container">
                <div class="row">
                        <div class="card-body">
                            <h1 class="tomato-color">Data Type</h1>
                            {{ form_start(dataTypeForm) }}
                                {{ form_row(dataTypeForm.label, {'attr': {'placeholder': "Enter the data type label" }}) }}
                                <div class="form-group">
                                    <button type="submit" class="btn btn-outline-primary">Create</button>
                                    <button type="reset" class="btn btn-outline-secondary">Cancel</button>
                                </div>
                            {{ form_end(dataTypeForm) }}
                        </div>
                    </div>
                    </div>
                </div> <!-- .row -->
            </div> <!-- .container -->
        </div> <!-- .fullwidth-block -->
    </main> <!-- .main-content -->
{% endblock %}
